[{
    "lightsamplestrategy": "uniform",
    "pixelsamples": [1,2,4,8,16,32,64,128]
},
{
    "lightsamplestrategy": "photonvoxel",
    "pixelsamples": [1,2,4,8,16,32,64,128]
},
{
    "lightsamplestrategy": "photontree",
    "pixelsamples": [1,2,4,8,16,32,64,128],
    "knn": [1,2,4,8,16,32,64,128]
}]
